@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');



img
{
max-width:100%;
}

.black
{
background-color:#1C1C26;
padding:25px;
}

.violet
{
background-color:#4D4D64;
padding:100px;
}

.lightviolet
{
background-color:#EEEEF6;
padding:100px;
clear:left;
}


.blueviolet-type
{
color:#9999CC;
}

.left
{
float:left;
}

.logo
{
display:block;
max-width:110px;
margin:0 auto;
}

@media(min-width: 600px){
.logo{
max-width:150px;
margin:0;
}
}


.centertitle
{
font-family: Playfair Display;
text-align:center;
font-size:36pt;
color:#FFFFFF;
}

.alignleft
{
text-align:left;
}

figcaption
{
font-family:Playfair Display;
font-style:italic;
font-size:14pt;
color:#FFFFFF;
text-align:left;
}

.dashwhite{
display:none;
}


.violethr
{
border-bottom: 2px dashed #4D4D64;
}

.normal
{
font-family:Montserrat;
font-size:14pt;
color:#FFFFFF;
line-height:1.5;

text-align:center;

}

.center
{
text-align:center;
}

.18pt
{
font-size:18pt;
}



.hometitle
{
font-family:Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height:60px;
text-align: center;
color:#FFFFFF;
}

.wrapper
{
max-width:1200px;
margin:0 auto;
}

@media(min-width:600px){
	.wrapper-flex
	{
	display:flex;
	}


	.wrapper-flex-space-between{
	justify-content:space-between;
	}

	.wrapper-flex section{
	width:50%;
	}
	}

@media(min-width:600px){
.lefthome{
padding-right:4rem;
}
}

.hometitle span
{
display:block;
}

@media(min-width:600px){
.hometitle span {
	display:inline;
}
}
	
.hometitlesmall
{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
color:white;
padding:2rem 0;
}

@media(min-width:600px){
	.hometitle{
	text-align:left;
	font-size:72px;
	line-height:96px;
	padding-bottom:4rem;
	margin-bottom:2rem;
	border-bottom:2px dashed white;
	
	}
}

@media(min-width:600px){
	.hometitlesmall{
	text-align:left;
	font-family: Montserrat;
	font-size: 36px;
	line-height: 44px;
	
	}
}
.bold
{
font-weight:600;
}


ul.nav{
display:none;
}

@media(min-width:600px){
ul.nav{
display:flex;
}
}

@media(min-width:600px){
nav
{
padding-top:3rem;
}
}

nav ul{
padding-top:1rem;
}

nav ul li
{
list-style-type:none;
}

nav ul li a 
{
font-family:Playfair Display;
font-size: 24px;
line-height: 28px;
color:#FFFFFF;
padding: 16px;
text-decoration: none;
}

nav ul li a span{
font-family:Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}


.middle
{
	margin-left: auto;
  margin-right: auto;
  display:block;

}

.title
{
font-family:Montserrat;
text-align:center;
font-size:18pt;
color:#FFFFFF;
}

.floattext
{
font-family:Montserrat;
text-align:left;
font-size:14pt;
color:#FFFFFF;
line-height:1.5;
}

.60
{
margin:auto;
width:60%;
border:1px solid red;
}


.violet-type
{
color:#4D4D64;
}

.roundrectangle
{
width:50%;
height:150px;
margin:auto;
background-color:#4D4D64;
border-radius:10px;
padding:1%;
}

table, th, td
{
border:1px solid #EEEEF6;
}

table
{
border-collapse:collapse;
width:70%;
margin:auto;
}

td
{
padding:10px;
font-family:Montserrat;
text-align:left;
font-size:14pt;
color:#4D4D64;
line-height:1.5;
width:25%;
}

tr:nth-child(even) 
{background-color:white;}

tr:nth-child(odd) 
{background-color:#4D4D64;}

.white
{
color:#FFFFFF;
}

.col33
{
width:33%;
float:left;
}

.rec-text
{
font-family:Montserrat;
font-size:14pt;
color:#FFFFFF;
line-height:1.5;
}

.img-floatleft
{
padding: 0 15px; 
float: left;
}

.img-floatright
{
padding: 0 15px; 
float: right;
vertical-align:text-top;
}

footer
{

padding:100px;
}
