@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');



img {
	max-width:100%;
	}

aside	{
	display:none;
}

.centerlogo {
	margin:0 auto;
	padding-left:23px;
}

.bottom {
	margin-bottom:5px;
}

.img-large {
	align-self: flex-start;
}

.device {
	background-repeat:no-repeat;
}

.flex {
	display:flex;
	flex-wrap:wrap;
}



  
.lg { 
	background-image:url("../images/mobile.png");
	background-size:contain; 
	height:425px;
}


.lg2 { 
	background-image:url("../images/mobile.png");
	background-size:contain; 
	margin-left:10px;
	height:375px;
	width:362px;
}



.dropcap { 
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	padding:10px;
}


.bkg	{
	background-color:#1C1C26;
	padding:5% 10% 5% 10%;
}





.about	{
	background-color:#1C1C26;
	padding:25px;
	}



.bkg-1 {
	background-color:#4D4D64;
	padding:50px;
}

.bkg-11 {
	background-color:#4D4D64;
	padding:25px;
}

.bkg-2 {
	background-color:#EEEEF6;
	padding:50px;
}

.bkg-22 {
	background-color:#EEEEF6;
	padding:25px;
}

.padding-250 {
	padding:250px;
}


.blueviolet-type {
	color:#EEEEF6;
}

.logo {
	display:block;
	max-width:100px;
}

.projectlogo {
	display:block;
	max-width:110px;
	margin:0 auto;
}

.personallogo {
	display:block;
	max-width:200px;
	margin:0 auto;
	margin-top:2rem;
}

.centertitle {
	font-family: Playfair Display;
	text-align:center;
	font-size:36pt;
	color:#FFFFFF;
	
}

.home{
	margin-top:2rem;
	background-image:url("../images/jing.png");
	background-size:contain;
	background-repeat:no-repeat;
	height:535px;
}


.up {
	padding-top:2rem;
}

.topbottom{
	padding-top:2rem;
	padding-bottom:3rem;
}

.alignleft	{
	text-align:left;
}

.top2{
	margin-top:20px;
}

.top
{
	font-family:Montserrat;
	font-size: 16px;
	line-height: 24px;
	color:#FFFFFF;
	text-align:left;
	margin-bottom:2rem;
	
}

.small
{
	font-family:Montserrat;
	font-size: 14px;
	color:#000000;
	text-align:center;
	padding-top:10px;
	padding-bottom:30px;
}

.white2{
	color:#ffffff;
}


.dashwhite
{
	display:none;
}


.normal2	{
	font-family:Montserrat;
	font-size:16px;
	color:#FFFFFF;
	line-height: 24px;
	text-align:left;
	max-width:600px;
	padding-bottom:2rem;
	padding-top:2rem;
	
}


.normal	{
	font-family:Montserrat;
	font-size: 16px;
	line-height: 24px;
	color:#FFFFFF;
	text-align:left;
	padding-top:2rem;
	padding-bottom:2rem;
}




.centre	{
	text-align:center;
}

.18pt {
	font-size:18pt;
}


.bold {
font-weight:bold;
}

.wrapper4 {
	max-width:1200px;
	margin:-15px;
}


.wrapper3 {
	max-width:1200px;
}

 .wrapper-flex3 {
	display:flex;
 }

.overflow {
	overflow-y:scroll;
	height:300px;
	max-width:600px;
	margin:0 auto;
}



.padding-right{
	padding-right:25px;

}


.persona{
	margin:0 auto;
	display:flex;
	align-items:flex-start;
	flex-wrap:wrap;
	padding-bottom:20px;

}

.leftpersona{
	width:45%;
	float:left;
}

.rightpersona{
	
	padding-left:50px;
	width:45%;
	float:right;
}


 .wrapper-flex-space-between {
	justify-content:space-between;
 }

.wrapper {
	max-width:1200px;
}


.hometitle span	{
	display:block;
}

	
.hometitlesmall	{
	font-family: Montserrat;
	font-style: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;	
	color:white;
	
}


.worktitle {
	font-family:Playfair Display;
	text-align:center;
	font-size:56px;
	line-height:72px;
	padding-bottom:2rem;
	
}


.hometitle	{
	color:#FFFFFF;
	font-family:Playfair Display;
	font-style: normal;
	text-align:center;
	font-size:56px;
	line-height:72px;
	margin-top:2rem;
	padding-bottom:2rem;
}

.hr{
	margin-top:-10px;
	margin-bottom:30px;
	border-bottom:2px dashed white;
}

.bold	{
	font-weight:600;
}

.nav2 li {
	display:inline-block;
}

ul.nav {
	display:none;
}


nav ul	{
	padding-top:2.5rem;
}

nav ul li {
	list-style-type:none;
}

nav ul li a {
	font-family:Playfair Display;
	font-size: 24px;
	line-height: 28px;
	color:#FFFFFF;
	padding: 16px;
	text-decoration: none;
}

nav ul li a:visited {
	color:#696988;
}

nav ul li a:hover {
	color:#ccccff;
}

nav ul li a span {
	font-family:Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

nav ul li a:visited span {
	color:#696988;
}

nav ul li a:hover span {
	color:#ccccff;

}



.middlelogo	{
	margin-left: auto;	
	margin-right: auto;
	display:block;
	width:125px;
	height:125px;
}

.chart	{
	margin-right: auto;
	margin-left: auto;
	display:block;
	padding-bottom:30px;
}

.title	{
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:3rem;
	margin-bottom:-1rem;

}

.title_x2 {
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:3rem;
}


.floattext	{
	font-family:Montserrat;
	text-align:left;
	font-size:14pt;
	color:#FFFFFF;
	line-height:1.5;
}

.violet-type {
	color:#4D4D64;
}

.roundrectangle	{
	margin:25px auto; 
	background-color:#4D4D64;
	border-radius:10px;
	padding:2rem;
	width:600px;
}

table, th, td	{
	border:1px solid #EEEEF6;
}

table	{
	border-collapse:collapse;
	width:100%;
	margin-bottom:2rem;
}


td	{
	padding:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:0.8rem;
	color:#4D4D64;	
	line-height:1.5;
	width:25%;
}



tr	{
	background-color:white;
}

.overflow tr:nth-child(even)
{background: #CCC}

.col33	{
	width:33%;
	float:left;
}

.rec-text	{
	font-family:Montserrat;
	font-size:14pt;
	color:#FFFFFF;
	line-height:1.5;
}

.numbers	{
	font-size:18pt;
	font-style:bold;
}


blockquote	{
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height:32px;
	color:#FFFFFF;
	padding:1rem;
}




footer	{
	padding:50px;
}

.social {
	display:inline;
	
}

.socialimg{
	width:50px;
	height:50px;
}


ul .sociallist	{
	margin:0 auto;
	padding-top:10px;
	padding-left:10px;
}

li.signup{
	padding:1rem;
}







  
 a.button {
	background:#696988;
	border-radius: 10px;
	color: white;
	font-family:Montserrat;
	text-decoration:none;
	text-align:center;
	padding:1rem;
	margin:25px 0px 25px 0px;
	font-size:16px;
	width:280px;
	display:block;
 }
 
 a.button2 {
	background:#696988;
	border-radius: 10px;
	color: white;
	font-family:Montserrat;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	padding:1rem;
	width:280px;
	display:block;

} 
 }
 
.center {
	margin:0 auto;


} 
 a:hover{
	color:#1C1C26;
 }
 


	
.center {
 margin:0 auto;
}

.top {
margin-top:10px;
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position:absolute;
  left:0;
  top:100;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  display: none;
  background-color:#4D4D64;

}

/* Style navigation menu links */
.topnav a {
  background:transparent;
  color: white;
  padding: 18px 28vh;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-family:Playfair Display;
  margin-left:-20px;
  

}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  left:50px;
  top: 0;
  padding:0;
  
}

/* Add a background color on mouse-over */
.topnav a:hover {
  background-color:#666680;
  color:#EEEEF6;
}

/* Style the active link (or home/logo) */
.active {
  background-color:#EEEEF6;
  color:#EEEEF6;
}


.margin-bottom	{
	margin-bottom:10px;

}

.center {
   margin:0 auto;
   }
   
.email	{
	font-family: Montserrat;
	font-style: normal;
	font-weight:bold;
	font-size:14px;
	color:#4D4D64;
	text-decoration:none;
	padding-bottom:20px;
	
}   

table	{
	display:none;
}

.bottomlefthome {
	text-align:center;
	
}

.bottomrighthome {
	text-align:left;
	margin-top:10px;
	
	}

.bkg-3 {
	background-color:#EEEEF6;
	padding:5%;
  }

.roundrectangle {
	margin:25px auto; 
	background-color:#4D4D64;
	border-radius:10px;
	padding:2rem;
	width:200px;
}

input,textarea {
    background-color: #EEEEF6;
    border: 2px solid #696988;
    color: #707070;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1.1428em;
    margin-top: 0.57em;
    padding: 0.7857em 1.14em;
    width:87%;
    font-family: Montserrat;
	font-size:12pt;
}

label {
	font-family: Montserrat;
	font-size:12pt;
	color:#696988;
	text-align:left;
}

.footerbtn {
	background:#696988;
	border-radius: 10px;
	color: white;
	font-family:Montserrat;
	text-decoration:none;
	text-align:center;
	padding:1rem;
	margin:0 auto;
	width:250px;
	font-size:16px;
	display:block;
}

.center {
   margin:0 auto;
   display:block;
   }
   
	
.connect {
	display:block;
	font-family: Playfair Display;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	padding-bottom:2rem;
	color:#4D4D64;
	text-align:center;
}	

.projecttitle {
	text-align:left;
	font-family: Montserrat;
	font-size:30px;
	line-height:36px;
}

 
@media(min-width:600px){
	

.home{
	margin-top:3rem;
	background-image:url("../images/soap.png");
	background-size:contain;
	background-repeat:no-repeat;
}


.bottomlefthome {
	text-align:left;
	
}

.hometitle{
	margin-bottom:4rem;
}

.wrapper4 {
	max-width:1200px;

}
.footerbtn {
	margin:25px 0px 25px 0px;
}

.social{
	display:inline;
}

 a.button 
	{
	width:200px;
	}

.hr{
	margin-top:-60px;
	margin-bottom:20px;
	border-bottom:2px dashed white;
}

table	{
	display:none;
}


.small
{	
	font-family:Montserrat;
	font-size: 14px;
	color:#000000;
	text-align:center;
	padding-top:10px;
	margin-bottom:30px;
}




.flex {
	display:flex;
	flex-wrap:wrap;
}


nav ul li a {
font-size:16pt;
}

.small {
padding-bottom:10px;
}



.roundrectangle	{
	width:600px;
}


.largecell {
	padding: 80px;
}
	
 a.button {
width:320px;
 }
	
.imgsize3{
width:50%;
height:50%;
}

.imgsize{
max-width:600px;
padding-right:20px;
}

.imgsize2{
	max-width:400px;
}

.center {
   margin:0 auto;
   display:block;
   } 
   
.bottom {
background-color:#1C1C26;
padding-bottom:100px;
}

.centerlogo {
	max-width:300px;
}
	
.logo {
	margin-right:1200px;
}

.pullquote	{
	display:flex;
	padding:1rem;
	
}






.topnav a {
	display:none;
}



.img-bottom	{
	padding:2rem;
	float:left;
}



.img-top {
	padding:2rem;
	float:right;
}

.clear	{
	clear:both;
}
	
.connect {
	display:block;
	font-family: Playfair Display;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	padding-bottom:2rem;
	color:#4D4D64;
}	


 .violet {
	background-color:#4D4D64;
	padding:50px;
 }
 
 
 .bkg-1 {
	background-color:#4D4D64;
	padding:5% 10% 5% 10%;
	
 }
 
 .bkg-11 {
	background-color:#4D4D64;
	padding:5% 10% 5% 10%;
	
 }

 .bkg-2 {
	background-color:#EEEEF6;
	padding:5% 30% 5% 30%;
 }
 
 .bkg-22 {
	background-color:#EEEEF6;
	padding:5% 10% 5% 10%;
 }
 
 
 .bkg-3 {
	background-color:#EEEEF6;
	padding:50px;
 }

 .violet-type {
	color:#4D4D64;
 }

 .bkg	{
	padding:0 5% 4% 5%;
 }


 .about {
	padding:0px 15% 5% 15%;
 }

.logo {
max-width:150px;
}


 .projectlogo {
	max-width:150px;
	margin:0 auto;
 }




 .projecthr {
	border-bottom:2px dashed #4D4D64;
	margin-top:2rem;
 }
 
 .maxwidth {
	max-width:800px;
	margin:0 auto;
 }

 .normal {
	font-family:Montserrat;
	font-size: 18px;
	line-height: 29px;
	color:#FFFFFF;
	text-align:left;
	max-width:600px;
	margin:0 auto;
	
 }

 .normal2 {
	font-family:Montserrat;
	font-size: 18px;
	line-height: 29px;
	color:#FFFFFF;
	text-align:left;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	max-width:600px;
	
 }
 
 
 .normal3 {
	font-family:Montserrat;
	font-size: 18px;
	line-height: 29px;
	color:#FFFFFF;
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
	max-width:600px;
	
 }

 .title {
	font-family:Montserrat;
	text-align:center;
	font-size:18pt;
	color:#FFFFFF;
 }

 .violet-type {
	color:#4D4D64;
 }

 .width {
	width:300px;
	padding-bottom:3rem;
 }
 
 
 .left {
	margin:0 auto;
 }

 .lefthome {
	padding-right:4rem;
	width:40%;
	flex:1;
 }


 .lefthome2 {
	width:100%;
	flex:1;
 }
 
.righthome{
	width:60%;
	flex:2;
}


	

 .hometitle span {
	display:inline;
 }


 .hometitlesmall {
	text-align:left;
	font-family: Montserrat;
	font-size:24px;
	line-height:36px;
 }

.projecttitle {
	text-align:left;
	font-family: Montserrat;
	font-size:30px;
	line-height:36px;
}

 .smaller {
	font-family:Montserrat;
	font-size:18px;
	padding-top:20px;
	margin-bottom:20px;
 }

.lg { 
	background-image:url("../images/ipad.png"); 
	background-size:contain;
	max-width:500px;
	margin:0 auto;

 } 


.lg2 { 
	background-image:url("../images/responsivedevices.png");	
	background-size:contain;
	height:300px;
	width:700px;
	margin:0 auto;

 } 
	
 .wrapper2 {
	max-width:1200px;
	margin:0 auto;
 }

 .wrapper-flex2 {
	display:flex;
	align-items:center;
	flex-direction:column;
 }

 .wrapper-flex2 section {
	width:100%;
 }
	
.wrapper {
	max-width:1200px;
	margin:0 auto;
}

.wrapper4 {
	max-width:1200px;
}

 .wrapper-flex {
	display:flex;
 }

 ul.nav	{
	display:flex;
 }

 nav {
	padding-top:3rem;
 }


 .middlelogo {
	margin-left: auto;
	margin-right: auto;
	display:block;
 }


 .white {
	background-color:#FFFFFF;
 }




.white2{
	color:#FFFFFF;
}


 .img-bottom {
	padding:2rem;
	float:left; 
 }

 .img-top {
	padding:2rem;
	float:right;
 }

 .projecthr {
	border-bottom:2px dashed #4D4D64;
	margin-top:2rem;
 }

.bottomlefthome{
	flex:2;
}

.button{
	display:block;

}



.email{
	font-size:18px;
}


.hometitle	{
	
	font-size:36pt;
	padding-bottom:10px;
}



@media(min-width:1024px){
	
.home{
	background-image:url("../images/jing.png");
}
	
.bottomlefthome{
	
	margin-left:500px;
}

.bottomrighthome{
	
	margin-left:200px;

}
	
.hr{
	margin-top:-10px;
	margin-bottom:30px;
	border-bottom:2px dashed white;
}

.lg2 { 
	background-image:url("../images/responsivedevices.png");	
	background-size:contain;
	height:444px;
	width:1000px;
	margin:0 auto;

 } 

.competitive	{
	display:none;
}

nav ul li a:hover {
	color:#ccccff;
	border-bottom:3px solid #696988;
}
	
	
table, th, td	{
	border:1px solid #EEEEF6;
}

table	{
	border-collapse:collapse;
	width:70%;
	margin-bottom:2rem;
	display:block;
	margin:0 auto;
}


td	{
	padding:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:0.8rem;
	color:#4D4D64;	
	line-height:1.5;
	width:25%;
}



tr	{
	background-color:white;
}



.bottomlefthome{
	text-align:left;
	flex:2;
}


.hometitle {
   font-size:48pt;
 }

.worktitle {
	font-size:48pt;
	}

 .about {
	padding:0px 25% 5% 25%;
 }

}
