@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');



img {
	max-width:100%;
}


.img-large {
	align-self: flex-start;
}

.device {
	background-repeat:no-repeat;
}


  
.lg { 
	background-image:url("../images/mobile.png");
	background-size:contain; 
	height:425px;
}


.button {
	background:#696988;
	width:250px;
	border-radius: 10px;
	color: white;
	font-family:Montserrat;
	font-size:16px;	
	text-decoration:none;
	padding:1rem 0 1rem 0; 
	margin:2rem 0 0 0;
}

.dropcap { 
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	padding:10px;
}


.black	{
	background-color:#1C1C26;
	padding:25px;
}


.blackabout	{
	background-color:#1C1C26;
	padding:50px;}



.violet {
	background-color:#4D4D64;
	padding:50px;
}


.lightviolet {
	background-color:#EEEEF6;
	padding:50px;
}


.padding-50	{
	padding:5px;
}

.padding-250 {
	padding:250px;
}


.blueviolet-type {
	color:#9999CC;
}

.logo {
	display:block;
	max-width:150px;
	margin:0 auto;
}

.projectlogo {
	display:block;
	max-width:110px;
	margin:0 auto;
}

.personallogo {
	display:block;
	max-width:200px;
	margin:0 auto;
	margin-top:2rem;
}

.centertitle {
	font-family: Playfair Display;
	text-align:center;
	font-size:36pt;
	color:#FFFFFF;
	
}

.up {
	padding-top:2rem;
}

.bottom{
	padding-bottom:2rem;
}

.alignleft	{
	text-align:left;
}

figcaption
{
	font-family:Montserrat;
	font-size: 18px;
	line-height: 24px;
	color:#FFFFFF;
	text-align:left;
	margin:-3rem 0 2rem 2rem;
}

.dashwhite
{
	display:none;
}


.normal	{
	font-family:Montserrat;
	font-size: 16px;
	line-height: 24px;
	color:#FFFFFF;
	text-align:center;
	padding-top:2rem;
	padding-bottom:2rem;
}


.center	{
	text-align:center;
}

.18pt {
	font-size:18pt;
}




.wrapper3 {
	max-width:1200px;
	margin:0 auto;
}

 .wrapper-flex3 {
	display:flex;
 }


 .wrapper-flex-space-between {
	justify-content:space-between;
 }

.hometitle span	{
	display:block;
}

	
.hometitlesmall	{
	font-family: Montserrat;
	font-style: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;	
	color:white;
	
}


.worktitle {
	font-family:Playfair Display;
	text-align:center;
	font-size:72px;
	line-height:96px;
	padding-bottom:4rem;
	margin-bottom:2rem;
}


.hometitle	{
	color:#FFFFFF;
	font-family:Playfair Display;
	font-style: normal;
	text-align:center;
	font-size:72px;
	line-height:96px;
	margin-top:2rem;
	padding-bottom:4rem;
	margin-bottom:2rem;
	border-bottom:2px dashed white;
}


.bold	{
	font-weight:600;
}

.nav2 li {
	display:inline-block;
}

ul.nav {
	display:none;
}


nav ul	{
	padding-top:1rem;
}

nav ul li {
	list-style-type:none;
}

nav ul li a {
	font-family:Playfair Display;
	font-size: 24px;
	line-height: 28px;
	color:#FFFFFF;
	padding: 16px;
	text-decoration: none;
}

nav ul li a span {
	font-family:Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.middlelogo	{
	margin-left: auto;	
	margin-right: auto;
	display:block;
	width:125px;
	height:125px;
}

.chart	{
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.title	{
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:4rem;
	padding-bottom:2rem;
}


.floattext	{
	font-family:Montserrat;
	text-align:left;
	font-size:14pt;
	color:#FFFFFF;
	line-height:1.5;
}

.violet-type {
	color:#4D4D64;
}

.roundrectangle	{
	margin:0 auto; 
	background-color:#4D4D64;
	border-radius:10px;
	padding:2rem;
	width:70%;
}

table, th, td	{
	border:1px solid #EEEEF6;
}

table	{
	border-collapse:collapse;
	width:100%;
	margin-bottom:2rem;
}


td	{
	padding:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:0.8rem;
	color:#4D4D64;	
	line-height:1.5;
	width:25%;
}



tr	{
	background-color:white;
}


.col33	{
	width:33%;
	float:left;
}

.rec-text	{
	font-family:Montserrat;
	font-size:14pt;
	color:#FFFFFF;
	line-height:1.5;
	padding-top:2rem;
}





blockquote	{
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height:32px;
	color:#FFFFFF;
	padding:1rem;
}


.pullquote	{
	display:flex;
	padding:1rem;
}


footer	{
	padding:50px;
}

.social {
	display:inline;
}

ul .social	{
	margin:0 auto;
}

li.signup{
	padding:1rem;
}


a	{
	text-decoration:none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	color:black;
	padding-bottom:2rem;
}

.center {
	margin:0 auto;
	display:block;
} 

.connect{
display:none;
}

  
 a.button {
	width:250px;
	background:#696988;
	border-radius: 10px;
	color: white;
	font-family:Montserrat;
	text-decoration:none;
	text-align:center;
	padding:1rem;
	margin-top:2rem;
	font-size:16px;
 }

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color:#1C1C26;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
	color: white;
  padding: 18px 12px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-family:Playfair Display;
}

/* Style the hamburger menu */
.topnav a.icon {
  background:#1C1C26;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #4D4D64;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color:#1C1C26;
  color: white;
}


.margin-bottom	{
	margin-bottom:2rem;

}

.center {
   margin:0 auto;
   }
   
.email	{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 29px;
	text-align: center
}   

table	{
	display:none;
}


.bottomlefthome {
	text-align:center;
	
	}

.bottomrighthome {
	text-align:center;
	}

@media(min-width:600px) 

{

.competitive	{
	display:none;
}

table, th, td	{
	border:1px solid #EEEEF6;
}

table	{
	border-collapse:collapse;
	width:100%;
	margin-bottom:2rem;
	display:block;
}


td	{
	padding:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:0.8rem;
	color:#4D4D64;	
	line-height:1.5;
	width:25%;
}



tr	{
	background-color:white;
}




.right {
	padding-right:450px;
	
}

.topnav a {
	display:none;
}



.img-bottom	{
	padding:2rem;
	float:left;
}



.img-top {
	padding:2rem;
	float:right;
}

.clear	{
	clear:both;
}
	
.connect {
	display:block;
	font-family: Playfair Display;
	font-style: italic;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	padding-bottom:2rem;
}	

 .center {
   margin:0 auto;
   } 

 .violet {
	background-color:#4D4D64;
	padding:200px;
 }
 
 .lightviolet {
	background-color:#EEEEF6;
	padding:50px;
 }

 .violet-type {
	color:#4D4D64;
 }

 .lg { 
	background-image:url("../images/ipad.png"); 
	background-size:contain;
	height:300px;
	width:400px;
 } 





 .black {
	padding:5% 5% 0px 5%;
 }


 .blackabout {
	padding:0px 25% 5% 25%;
 }

.logo {
max-width:150px;
margin:0;
}


 .projectlogo {
	max-width:150px;
	margin:0 auto;
 }



 figcaption {
	margin:2rem 0 2rem 0;
	font-family:Montserrat;
	font-size:24px;
	line-height:29px;
 }



 .projecthr {
	border-bottom:2px dashed #4D4D64;
	margin-top:2rem;
 }

 .normal {
	font-family:Montserrat;
	font-size: 18px;
	line-height: 29px;
	color:#FFFFFF;
	text-align:left;
 }

 .title {
	font-family:Montserrat;
	text-align:center;
	font-size:18pt;
	color:#FFFFFF;
 }

 .violet-type {
	color:#4D4D64;
 }

 .width {
	width:300px;
	padding-bottom:3rem;
 }

 .lefthome {
	padding-right:4rem;
	width:50%;
 }






 .hometitle span {
	display:inline;
 }


 .hometitlesmall {
	text-align:left;
	font-family: Montserrat;
	font-size: 36px;
	line-height: 44px;
 }


 .smaller {
	font-size: 24px;
	line-height: 29px;
 }

.lg { 
	background-image:url("../images/ipad.png"); 
	background-size:contain;
	height:400px;
	width:500px;
 } 
	
	
 .wrapper2 {
	max-width:1200px;
	margin:0 auto;
 }

 .wrapper-flex2 {
	display:flex;
 }

 .wrapper-flex2 section {
	width:100%;
 }
	
.wrapper {
	max-width:1200px;
	margin:0 auto;
}

 .wrapper-flex {
	display:flex;
 }

 ul.nav	{
	display:flex;
 }

 nav {
	padding-top:3rem;
 }


 .middlelogo {
	margin-left: auto;
	margin-right: auto;
	display:block;
 }


 .white {
	background-color:#FFFFFF;
 }


 .img-bottom {
	padding:2rem;
	float:left; 
 }


 .img-top {
	padding:2rem;
	float:right;
 }

 .projecthr {
	border-bottom:2px dashed #4D4D64;
	margin-top:2rem;
 }

.bottomlefthome{
	flex:2;
}

}

@media(min-width:1024px){
	


.bottomlefthome{
	text-align:left;
	flex:2;
}





 .violet {
	background-color:#4D4D64;
	padding:5% 25% 5% 25%;
 }

 .lightviolet {
	background-color:#EEEEF6;
	padding:5% 25% 5% 25%;
 }

}
